@media (max-width: 992px){
    #team-members-gastro{
        display: flex ;
        flex-direction: column ;
    }

    .title-page{
        font-size: 100px;
        line-height: 1.2;
        span{
            font-size: 100px;
        }
    }

    .text-page{
        font-size: 35px;
        line-height: 1.2;
    }

    .second-title{
        font-size: 60px;
        line-height: 1.2;
    }

    .third-title{
        font-size: 40px;
        line-height: 1.2;
    }

    .team-member{
        width: 80%;
        margin-bottom: 80px;
    }

    .us__center  {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

