.title-features {
    font-size: 100px;
    background: -webkit-linear-gradient(#d5d5d5, #5A595F) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: hidden;
    background-color: black;
}

@media (prefers-color-scheme: light) {
    body{
        background-color: white;
    }
}

section{
    width: 100vw
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 50px;
}

@media (max-width: 992px) {
    .feature {
        gap: 200px;
    }
}

.feature__first {
    display: flex;
    align-items: center;
    width: 1024px;
    height: 400px;
    background-color: #16181e;
    border-radius: 25px;
    overflow: hidden;
}

@media (max-width: 992px) {
    .feature__first {
        flex-direction: column;
        width: 80%;
        height: 1200px;
    }
}

@media (prefers-color-scheme: light) {
    .feature__first {
        background-color: #f5f5f5;
    }
}

.feature__first .feature__img {
    width: 512px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__first .feature__img {
        width: 100%;
        height: 400px;
    }
}

.feature__first  .feature__img img {
    object-fit: cover;
    width: 480px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__first  .feature__img img {
        width: 100%;
        height: 100%;
    }
}

.feature__info {
    width: 480px;
    padding: 50px;
}

@media (max-width: 992px) {
    .feature__info {
        width: 100%;
        padding: 50px;

    }
}

.feature__info--tag {
    font-size: 12px;
    color: #48676a;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 7px;
    background-color: #76ABAE;
    width: fit-content;
    padding: 2px 7px;
}

@media (max-width: 992px) {
    .feature__info--tag {
        font-size: 20px;
    }
}

@media (prefers-color-scheme: light) {
    .feature__info--tag {
        background-color: #d3d3d3;
        color: #48676a;
    }
}

.feature__info--title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    color: #EEEEEE;
}

@media (max-width: 992px) {
    .feature__info--title {
        font-size: 60px;
    }
}

@media (prefers-color-scheme: light) {
    .feature__info--title {
        color: #222831;
    }
}

.feature__info--text {
    margin-top: 10px;
    color: #BCBCBC;
}

@media (max-width: 992px) {
    .feature__info--text {
        font-size: 35px;
        text-align: justify;
    }
}

@media (prefers-color-scheme: light) {
    .feature__info--text {
        color: #222831;
    }
}

.feature__both {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 800px;
}

@media (max-width: 992px) {
    .feature__both {
        flex-direction: column;
        width: 780px;
        height: 2400px;
        gap: 200px;
    }
}

.feature__second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16181e;
    border-radius: 25px;
    overflow: hidden;
    width: 480px;
    height: 800px;
}

@media (max-width: 992px) {
    .feature__second {
        width: 100%;
        height: 1200px;
    }
}

@media (prefers-color-scheme: light) {
    .feature__second {
        background-color: #f5f5f5;
    }
}

.feature__second .feature__img {
    width: 480px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__second .feature__img {
        width: 100%;
        height: 400px;
    }
}

.feature__second  .feature__img img {
    object-fit: cover;
    width: 480px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__second  .feature__img img {
        width: 100%;
        height: 100%;
    }
}

.feature__third {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16181e;
    border-radius: 25px;
    overflow: hidden;
    width: 480px;
    height: 800px;
}

@media (max-width: 992px) {
    .feature__third {
        width: 100%;
        height: 1200px;
    }
}

@media (prefers-color-scheme: light) {
    .feature__third {
        background-color: #f5f5f5;
    }
}

.feature__third .feature__img {
    width: 480px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__third .feature__img {
        width: 100%;
        height: 400px;
    }
}

.feature__third  .feature__img img {
    object-fit: cover;
    width: 480px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__third  .feature__img img {
        width: 100%;
        height: 100%;
    }
}

.feature__fourth {
    display: flex;
    align-items: center;
    width: 1024px;
    height: 400px;
    background-color: #16181e;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 70px;
}

@media (max-width: 992px) {
    .feature__fourth {
        flex-direction: column;
        width: 80%;
        height: 1200px;
        margin-bottom: 200px;
    }
}

@media (prefers-color-scheme: light) {
    .feature__fourth {
        background-color: #f5f5f5;
    }
}

.feature__fourth .feature__img {
    width: 512px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__fourth .feature__img {
        width: 100%;
        height: 400px;
    }
}

.feature__fourth  .feature__img img {
    object-fit: cover;
    width: 480px;
    height: 400px;
}

@media (max-width: 992px) {
    .feature__fourth  .feature__img img {
        width: 100%;
        height: 100%;
    }
}

@media (prefers-color-scheme: light) {
    .title-features{
        background: -webkit-linear-gradient(#000000, #8f8f95);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}