.title-price {
    background: -webkit-linear-gradient(#ffff, #5A595F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: light) {
        .title-price{
            background: -webkit-linear-gradient(#000000, #8f8f95);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
}